@using WebApplication1.Utility.HelperClasses
@model UserVM

<div class="row d-flex justify-content-center align-items-center">
    <form method="post">
        <div class="row">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="d-flex align-items-center">
                <label class="me-2">Region:</label>
                <select asp-for="Region" class="form-select me-4" aria-label="Default select example">
                    @foreach (var region in RegionHelper.Regions)
                    {
                        <option value="@region.Value">@region.Key</option>
                    }
                </select>
                <div class="input-group align-items-center me-4">
                    <label class="me-2">Seed:</label>
                    <input asp-for="Seed" id="seedInput" type="text" class="form-control" placeholder="Enter seed">
                    <button id="randomizeButton" type="button" class="btn btn-secondary">
                        Randomize
                    </button>
                </div>

                <div class="input-group d-flex">
                    <label class="me-2">Errors:</label>
                    <input class="me-2 flex-grow-1" asp-for="SliderValue" type="range" min="0" max="10" step="0.25" id="slider" oninput="updateField()"/>
                    <input style="width: 50px" asp-for="FieldValue" type="text" id="field" oninput="updateSlider()"/>
                </div>
                
                <a asp-action="ExportToCSV" class="btn btn-info w-25 ms-2">
                    Export
                </a>
            </div>
        </div>
        <br/>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Id</th>
                <th scope="col">Full Name</th>
                <th scope="col">Full Address</th>
                <th scope="col">Phone Number</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Users != null)
            {
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Number</td>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.FullAddress</td>
                        <td>@user.PhoneNumber</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </form>
</div>

@section Scripts
{
    <script>
        var userCount = 10;
        var pageNumber = 1;

        var isLoading = false;

        function loadData() {
            if (isLoading) {
                return;
            }

            isLoading = true;

            $.ajax({
                url: '/Home/LoadData',
                type: 'GET',
                data: { count: userCount, pageNumber: ++pageNumber },
                success: function (response) {
                    $('table tbody').append(response);
                    isLoading = false;
                },
                error: function () {
                    isLoading = false;
                }
            });
        }
        
        $(window).scroll(function () {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
                loadData();
            }
        });

        $('#randomizeButton').click(function () {
            $.post('/Home/GenerateSeed', function (seed) {
                $('#seedInput').val(seed);
                $('form').submit();
            });
        });

        function updateField() {
            var slider = document.getElementById('slider');
            var field = document.getElementById('field');
            field.value = slider.value;
        }

        function updateSlider() {
            var slider = document.getElementById('slider');
            var field = document.getElementById('field');
            slider.value = Math.min(field.value, 10);
        }

        $(document).ready(function () {
            var form = $('form');

            $('select').on('change', function () {
                form.submit();
            });

            $('input[type="text"]').on('input', function () {
                form.submit();
            });

            $('#slider').on('input', function () {
                form.submit();
            });
        });
    </script>
}
