@model IEnumerable<ApplicationUser>

<div class="row d-flex justify-content-center align-items-center">
    <form method="post" action="@Url.Action("UpdateUsers")" id="myForm">
        <div class="py-2">
            <input type="hidden" name="action" id="action">
            <button type="submit" class="btn btn-outline-dark" id="blockButton" disabled><i class="bi bi-lock"></i> Block</button>
            <button type="submit" class="btn btn-outline-dark" id="unlockButton" disabled><i class="bi bi-unlock"></i></button>
            <button type="submit" class="btn btn-danger" id="deleteButton" disabled><i class="bi bi-trash3"></i></button>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" id="selectAll"/>
                </th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Last Login Time</th>
                <th scope="col">Registration Time</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="rowCheckbox" name="selectedUsers" value="@user.Id"/>
                    </td>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.LastLoginTime</td>
                    <td>@user.RegistrationTime</td>
                    <td>@user.Status</td>
                </tr>
            }
            </tbody>
        </table>
    </form>
</div>

<script>
    document.getElementById('selectAll').addEventListener('click', function (e) {
        var checkboxes = document.getElementsByClassName('rowCheckbox');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = e.target.checked;
        }
        toggleButtons();
    });

    var checkboxes = document.getElementsByClassName('rowCheckbox');
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', toggleButtons);
    }

    function toggleButtons() {
        var checkboxes = document.getElementsByClassName('rowCheckbox');
        var isChecked = Array.from(checkboxes).some(x => x.checked);
        document.getElementById('blockButton').disabled = !isChecked;
        document.getElementById('unlockButton').disabled = !isChecked;
        document.getElementById('deleteButton').disabled = !isChecked;
    }

    document.getElementById('blockButton').addEventListener('click', function (event) {
        document.getElementById('action').value = 'Block';
        document.getElementById('myForm').submit();
    });

    document.getElementById('unlockButton').addEventListener('click', function (event) {
        document.getElementById('action').value = 'Unlock';
        document.getElementById('myForm').submit();
    });

    document.getElementById('deleteButton').addEventListener('click', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('action').value = 'Delete';
                document.getElementById('myForm').submit();
            }
        })
    });
</script>